<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
</head>
<body>
    <p class="nameTitle">Write user name</p>
    
    <form class="js-textInput">
        <input type="text" id="name" placeholder="username">
    </form>
    
    <form class="js-startButton" action="/tetris" method="get">
        <button type="button">Game Start</button>
    </form>

    <script src="js/index.js"></script>
</body>
</html>